<div class="logindiv">
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Sign in here</h3>
        <form action="#" >
            <div class="inputBox"> 
                <input  type="text" name="userName" id="userName" placeholder="Username" [(ngModel)]="userName"> 
                <input  type="password" name="uPassword" id="uPassword" placeholder="Password" [(ngModel)]="uPassword"> 
            </div> 
            <input type="submit" name="" value="Login" (click)="verifyLogin()" >
        </form> 
    
    </div>
</div>
