

<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12 text-left">
                <a href="#"><img src="assets/images/my_admin.png" style="max-height:80px; max-width:180px "  /></a>
            </div>
            <div class="col-md-6 h_right text-right">
                <div class="right_box">
                    <p><i class="fa fa-phone"></i> +91-XXXX-2XXXXX2</p>
                    <p><i class="fa fa-envelope"></i> support@nodomain.com</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="myheader" class="main_navigation">
    <div class="container">
        <div class="row">
            <div id='cssmenu'>
                <ul>
                    <li><a href="/home">Dashboard</a></li>
                    <li><a href="/add" >Add Information</a></li>
                  
                    <li><a href="/login">Log Out</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
