<!--Footer-->

<footer>
    <div class="container">
        
    </div>



    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="copyright">
                        <p>
                            <span>Copyright &copy; 2022, Test Web Application Admin System .</span>
                        </p>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="credits">
                        Designed by <a href="#">Pinak Pani Nath</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--End Footer-->







<script>
    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("myheader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>




